.image-preview-box {
  width: 100%;
  aspect-ratio: 4 / 3; /* change to 1/1 or 16/9 if needed */
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #ccc;
  background: #f8f9fa;
}

.image-preview-box img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* keeps aspect ratio without distortion */
}


.image-preview-box {
  position: relative;
  width: 100%;
  padding-top: 75%; /* maintain aspect ratio */
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.image-preview-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

th[role="button"] {
  cursor: pointer;
  user-select: none;
}

/* This css is used in allYacht and createYacht */