/* NavbarNotification.css */

/* Base position for desktop */
.nav-notification {
  position: fixed;
  top: 8px;
  right: 100px;
  z-index: 1050; /* above navbar */
  fill: rgb(245, 245, 142);
  
}

/* Adjust position for mobile */
@media (max-width: 790px) {
  .nav-notification {
    top: 8px;
    right: 57px; /* move a bit left of hamburger */
  }
}

.notification-badge {
  position: absolute;
  /* top: 0px;
  right: 1px; */
  font-size: 9px;
}

.notification-dropdown {
  position: absolute;
  right: -65px;
  top: 50px;
  width: 310px;
  max-height: 500px;
  overflow-y: auto;
  background: white;
  border-radius: 8px;
  z-index: 2000;
}

.notification-item {
  padding: 10px 12px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.notification-item:hover {
  background: #f5f5f5;
}

.notification-item.unread {
  background: #eef6ff;
}

.notification-item.read {
  opacity: 0.7;
}
